RewriteEngine On
RewriteBase /

# Si no es un archivo ni carpeta real, manda la petición a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]