Options -MultiViews
RewriteEngine On

# Evitar listar directorios
Options -Indexes

# Si el archivo o directorio existe físicamente (CSS, JS, imágenes, portadas), servirlo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no existe, redirigir al Front Controller index.php pasando la ruta como parámetro 'url'
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
